@tailwind base;
@tailwind components;
@tailwind utilities;

*:before, *:after { 
  content: ""; 
  position: absolute; 
} 
body{
  background-color: cornflowerblue;
}
.book{
  width:200px;
  height:300px;
  position: relative;
  background: #F33139;
  border-radius: 0px 2px 0px 12px;
  background-image: linear-gradient(to right,#D11F2F 30px, #ba0716 30px, transparent 30px);  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:start;
  padding-left: 35px;
  padding-top: 20px;
  color: #f3d654;
}


.book:after{
  height: 20px;
  width: 198px; 
  bottom: 3px;
  right:0px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #E4E0CE;  
  background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);     
}
